<% @title = 'Applications' %>

<ul>
  <% @apps.each do |app| %>
    <li><a href="/applications/<%= app.id %>"><%=h app.name %></a></li>
  <% end %>
</ul>

<h2><a href="/add_application">Add Application</a></h2>
