<% @title = 'Applications' %>

<ul>
  <% @apps.each do |app| %>
    <li><a href="/applications/<%= app.id %>/errors"><%=h app.name %></a></li>
  <% end %>
</ul>

<h2><a href="/add_application">Add Application</a></h2>
<% unless DEMO_MODE %>
  <h2><a href="/change_password">Change Password</a></h2>
<% end %>
