<% @title = 'Change Password' %>

<form action="/change_password" class="form-horizontal" method="post">
  <%= Rack::Csrf.tag(env) %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="password">New Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="password" id="password" placeholder="password"/>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn-large" value="Change Password"/>
    </div>
  </fieldset>
</form>

