<% @title = 'Search' %>

<form action="/search" method="get">
  <input type="search" name="search" placeholder="search"><br />
  <input class="btn btn-primary" type="submit" value="Search" />
</form>

