.error-info {
  width: auto;
  .key { width: 250px; }
  .value { width: 700px; }
  tbody tr td, thead tr th {
    border-width: 0;
    display: inline-block;
    white-space: pre-wrap;  
    word-wrap: break-word;
  }
}

table caption {
  text-align: left;
  font-size: 24px;
  padding: 5px;
}

label { display: inline; }

input, textarea, select { width: auto; }

form.forme {
  label {
    display: inline-block;
    min-width: 200px;
  }
}

.navbar-default {
  .navbar-form {
    padding: 0;
    border-width: 0;
    margin-right: 20px;
  }
  input {
    width: auto;
    margin: auto;
  }
}
